node-red/ikea_air_monitor_flow.json
[
    {
        "id": "a1b2c3d4e5f6g7h8",
        "type": "tab",
        "label": "IKEA Air Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "http_in_node",
        "type": "http in",
        "z": "a1b2c3d4e5f6g7h8",
        "name": "",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "parse_and_threshold"
            ]
        ]
    },
    {
        "id": "parse_and_threshold",
        "type": "function",
        "z": "a1b2c3d4e5f6g7h8",
        "name": "parse + threshold",
        "func": "const buf = msg.payload;\nconst pm  = buf.readUInt16LE(0);\nconst t   = buf.readFloatLE(2);\nconst h   = buf.readFloatLE(6);\nconst p   = buf.readFloatLE(10);\nconst threshold = 25; // \u00b5g/m\u00b3\nif (pm < threshold) {\n    return null; // ignore values below threshold\n}\nmsg.measurement = 'airquality';\nmsg.payload = { pm25: pm, temp: t, humidity: h, pressure: p };\nmsg.tags = { sensor: 'ikea', location: 'livingroom' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "influxdb_out",
                "http_response"
            ]
        ]
    },
    {
        "id": "influxdb_out",
        "type": "influxdb out",
        "z": "a1b2c3d4e5f6g7h8",
        "influxdb": "influxdb_config",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "a1b2c3d4e5f6g7h8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "influxdb_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "airquality",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false,
        "credentials": {
            "username": "",
            "password": ""
        },
        "v2url": "http://influxdb:8086",
        "v2org": "",
        "v2bucket": "airquality",
        "v2token": "",
        "influxdbClientOptions": "{}",
        "httpProxy": ""
    }
]
